<html lang="en">
<%-include('./partials/head.ejs') %>

    <body>
        <%-include('./partials/nav.ejs') %>
            <div class="about content">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit provident architecto tempore
                    molestias consectetur cupiditate modi laboriosam quia debitis reiciendis, rerum temporibus saepe
                    nesciunt similique sit ab aspernatur ad.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit provident architecto tempore
                    molestias consectetur cupiditate modi laboriosam quia debitis reiciendis, rerum temporibus saepe
                    nesciunt similique sit ab aspernatur ad.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit provident architecto tempore
                    molestias consectetur cupiditate modi laboriosam quia debitis reiciendis, rerum temporibus saepe
                    nesciunt similique sit ab aspernatur ad.</p>
                
            </div>
            <%-include('./partials/footer.ejs') %>
    </body>

</html>